:root[data-theme="dark"]{
 --body-bg: #272727;
 --container-bg: #3a3a3a;
 --container-border: #555;
 --container-box-shadow: rgba(0, 0, 0, 0.2);
 --calculator-screen-bg: #333;
 --calculator-screen-input-color: white;
 --calculator-keys-button-bg: #666;
 --calculator-keys-button-operator-equal-bg: orange;
}

:root[data-theme="light"]{
 --body-bg: #999898;
 --container-bg: #dad5d5;
 --container-border: #a7a7a7;
 --container-box-shadow: rgba(173, 173, 173, 0.2);
 --calculator-screen-bg: #b6b5b5;
 --calculator-screen-input-color: black;
 --calculator-keys-button-bg: #9e9d9d;
 --calculator-keys-button-operator-equal-bg: rgb(241, 71, 3);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 480px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px var(--container-box-shadow);
  border: 2px solid var(--container-border);
  border-radius: 20px;
  overflow: hidden;
  background: var(--container-bg);
}

.calculator-screen {
  background: var(--calculator-screen-bg);
  padding: 20px;
}

.calculator-screen input {
  width: 100%;
  height: 40px;
  font-size: 2em;
  background: none;
  border: none;
  color: var(--calculator-screen-input-color);
  text-align: right;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calculator-keys button {
  padding: 20px;
  font-size: 1.5em;
  border: 1px solid var(--container-border);
  background-color: var(--calculator-keys-button-bg);
  color: var(--calculator-screen-input-color);
  cursor: pointer;
}

.calculator-keys button[data-action="operator"],
.calculator-keys button[data-action="equal"] {
  background-color: var(--calculator-keys-button-operator-equal-bg);
  color: var(--calculator-screen-input-color)
}

.calculator-keys button:hover {
  filter: brightness(1.1);
}

.zero {
  grid-column: span 2;
}

.switch {
  position: relative;
  align-self: center;
  display: inline-block;
  width: 60px;
  margin: 10px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f3750e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f35d21;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}